@use "../../../assets/sass/input";
@use "../../../assets/sass/button";
@import "../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  padding: 15px 20px 30px 20px;
  @media (max-width: $mobile) {
    width: 320px;
    padding: 15px 15px 30px 15px;
  }
}

.title {
  padding-bottom: 20px;
  font-size: 26px;
}

.inputWrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.inputActive {
  padding-top: 15px;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.inputLength {
  @include input.length;
}

.submitButton {
  @include button.submit;
  background: $green-gradient;
}
