@use "assets/sass/shared";
@import "assets/sass/variables.scss";

.wrapper {
  flex: 1.1;
  padding: 10px;
  border-right: 1px solid $gray200;
}

.title {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  color: $gray300;
  text-transform: uppercase;
}

.button {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  text-align: left;
  border-radius: 12px;
  transition: background-color 0.2s, box-shadow 0.2s;
  @media (max-width: $tablet) {
    padding: 13px 10px;
  }
  &:hover {
    background-color: $blue50;
  }
  &:focus-visible {
    @include shared.focus-green;
  }
}
