@import "../../../../assets/sass/variables.scss";

.wrapper {
  position: relative;
  @media (max-width: $laptop) {
    width: 310px;
    margin: 0 auto;
    &:first-child {
      margin-bottom: 30px;
    }
  }
}

.totalSum {
  position: absolute;
  top: 135px;
  right: 15%;
  left: 15%;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 700;
}

.income {
  color: $green500;
}

.expense {
  color: $orange500;
}

.categories {
  margin-top: 40px;
}

.categoryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.color {
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.percentage {
  font-weight: 700;
}
