@import "assets/sass/variables.scss";

.container {
  top: 70px;
  right: 25px;
  @media (max-width: $mobile) {
    right: 15px;
  }
}

.wrapper {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
  font-size: 12px;
  @media (max-width: $mobile) {
    width: 320px;
  }
}

.title {
  padding: 15px;
  padding-bottom: 10px;
  font-size: 26px;
}

.animationEnter {
  opacity: 0;
  transform: translateX(500px);
}

.animationEnterActive {
  transition: opacity 200ms, transform 200ms;
  opacity: 1;
  transform: translateX(0);
}

.animationExit {
  opacity: 1;
}

.animationExitActive {
  opacity: 0;
  transition: opacity 200ms;
}
