.container {
  position: relative;
  width: 430px;
  max-height: 600px;
  padding: 25px;
}

@media (max-width: 480px) {
  .container {
    width: 340px;
  }
}

.title {
  padding-bottom: 20px;
  font-size: 26px;
}