@use "assets/sass/shared";
@import "assets/sass/variables.scss";

.container {
  position: relative;
  width: 430px;
  max-height: 600px;
  padding: 25px;
  @media (max-width: $mobile) {
    width: 340px;
  }
}

.title {
  padding-bottom: 20px;
  font-size: 26px;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 24px;
  border-radius: 50%;
  color: $gray400;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s;
  &:focus-visible {
    @include shared.focus-green;
  }
  &:hover {
    background-color: $gray50;
  }
  &:active {
    transform: scale(0.9);
  }
}
