@import "../../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  overflow-x: hidden;
  @media (max-width: $mobile) {
    width: 320px;
  }
}

.title {
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 26px;
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}
