@use "assets/sass/button";
@import "assets/sass/variables.scss";

.categories {
  flex: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.categoryItem {
  padding: 5px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $gray200;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 60px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.2s;
  p {
    margin-right: auto;
  }
  &:hover {
    background-color: $blue50;
  }
}

.iconButton {
  @include button.icon;
  font-size: 18px;
  color: $gray700;
}

.icon {
  font-size: 18px;
  color: $gray700;
}
