@import "assets/sass/variables.scss";

.wrapper {
  padding: 8px;
}

.editButton {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  color: $green500;
  text-align: left;
  border-radius: 12px;
  transition: background-color 0.2s, box-shadow 0.2s;
  &:hover {
    background-color: $blue100;
  }
}
