.wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(88.88deg, #7fdef5 0%, #7ef5ad 100%);
  border-radius: 50%;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    border-radius: 50%;
  }

  &:before {
    content: "";
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/finmap-logo-short.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
  }
}

.spinner {
  &:after {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-top-color: #eef3f5;
    border-bottom-color: #eef3f5;
    animation: spinny 1s linear infinite;
  }
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
