@use "assets/sass/button";
@import "assets/sass/variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  div {
    &:first-child {
      flex: 1;
      margin-bottom: 0;
    }
  }
  @media (max-width: $mobile) {
    gap: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media (max-width: $mobile) {
    gap: 5px;
  }
}

.iconButton {
  @include button.icon;
  font-size: 24px;
  color: $gray700;
  &:active:not(:disabled) {
    transform: scale(0.9);
  }
}

.submitIcon {
  transform: scale(0.8);
  color: $green500;
}

.deleteIcon {
  transform: scale(0.8);
  color: red;
}
