.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.wrapper div:first-child {
  flex: 1;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon-button {
  font-size: 24px;
  color: var(--gray700);
}

.icon-button:active:not(:disabled) {
  transform: scale(0.9);
}

.submit-icon {
  transform: scale(0.8);
  color: var(--green500);
}

.delete-icon {
  transform: scale(0.8);
  color: red;
}

@media (max-width: 480px) {
  .wrapper {
    gap: 10px;
  }

  .buttons {
    gap: 5px;
  }
}