@use "assets/sass/input";
@use "assets/sass/button";
@use "assets/sass/shared";
@import "assets/sass/variables.scss";

.container {
  display: flex;
  gap: 5px;
  padding: 0 30px;
  margin-bottom: 10px;
  @media (max-width: $laptop) {
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 5px;
  }
}

.datepicker {
  width: 295px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0 15px;
  background-color: $blue50;
  border-radius: 12px;
  cursor: pointer;
  p {
    font-weight: 700;
  }
  @media (max-width: $laptop) {
    width: 100%;
  }
}

.focused {
  @include shared.focus-green;
}

.selectWrapper {
  width: 295px;
  height: 40px;
  display: flex;
  gap: 5px;
  div > p {
    font-weight: bold;
  }
  @media (max-width: $laptop) {
    width: 100%;
  }
}

.iconButton {
  @include button.icon;
  font-size: 18px;
  color: $gray600;
}

.closeButton {
  margin-left: auto;
  font-size: 20px;
}

.calendarButton {
  background-color: $blue50;
  padding: 11px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.inputWrapper {
  flex: 1;
  position: relative;
  margin-bottom: 1px;
}

.input {
  @include input.input;
  height: 40px;
  padding-left: 35px;
}

.searchIcon {
  position: absolute;
  top: 27%;
  left: 10px;
  font-size: 18px;
  color: $gray600;
}
