@use "../../../assets/sass/input";
@use "../../../assets/sass/button";
@import "../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  padding: 15px 20px 30px 20px;
  @media (max-width: $mobile) {
    width: 320px;
    padding: 15px 15px 30px 15px;
  }
}

.title {
  padding-bottom: 20px;
  font-size: 26px;
}

.inputWrapper {
  position: relative;
  height: 55px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.inputActive {
  padding-top: 15px;
}

input.commentInput {
  padding-right: 40px;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.currency {
  @include input.currency;
}

.categoryButtons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconButton {
  @include button.icon;
  font-size: 24px;
  color: $gray600;
}

.addButton {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 18px;
}

.submitIcon {
  font-size: 20px;
  color: $green500;
}

.datepicker {
  padding-top: 25px;
  color: $blackAlpha900;
}

.focused {
  box-shadow: 0 0 0 1px $green600;
}

.inputLength {
  @include input.length;
}

.submitButton {
  @include button.submit;
  background: $orange-gradient;
}
