.transactions-list {
  flex: 1;
  overflow-y: auto;
  padding: 0 30px;
}

.transactions-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 992px) {
  .transactions-list {
    padding: 0 15px;
  }
}