@import "../../../assets/sass/variables.scss";

.container {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  width: 450px;
  height: 500px;
  display: flex;
  background-color: $white;
  border-radius: 12px;
  box-shadow: $box-shadow;
  @media (max-width: $tablet) {
    right: 15px;
    width: 360px;
  }
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 18px;
  color: $gray700;
  background-color: $blue100;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.logoutButton {
  padding: 5px;
  font-size: 14px;
  color: $orange500;
}

.menuWrapper {
  flex: 1;
  display: flex;
  padding: 20px 0;
}

.userAccount {
  flex: 8;
  padding: 10px;
  border-right: 1px solid $gray200;
}

.settings {
  flex: 7;
  padding: 10px;
}

.title {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  color: $gray300;
  text-transform: uppercase;
}

.itemButton {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  text-align: left;
  border-radius: 12px;
  transition: background-color 0.2s;
  &:hover {
    background-color: $blue50;
  }
  @media (max-width: $tablet) {
    padding: 13px 10px;
  }
}

.currentLanguage {
  text-transform: uppercase;
  padding-left: 5px;
}
