@use "../../../assets/sass/button";
@import "../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  padding: 15px 20px 30px 20px;
  @media (max-width: $mobile) {
    width: 320px;
    padding: 15px 15px 30px 15px;
  }
}

.title {
  font-size: 26px;
}

.languageList {
  padding: 20px 0;
}

.languageButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  transition: background-color 0.2s;
  svg {
    margin-left: auto;
    transform: scale(2);
    color: $green600;
  }
  &:hover {
    background-color: $blue50;
  }
}

.submitButton {
  @include button.submit;
  background: $green-gradient;
}
