@use "../../../assets/sass/input";
@use "../../../assets/sass/button";
@import "../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  height: 295px;
  padding: 15px 20px 30px 20px;
  @media (max-width: $mobile) {
    width: 320px;
    padding: 15px 15px 30px 15px;
  }
}

.successWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  svg {
    font-size: 70px;
    color: $green600;
  }
  p {
    &:first-of-type {
      font-size: 24px;
    }
  }
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
}

.inputWrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.inputActive {
  padding-top: 15px;
}

.showButton {
  @include button.show;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.submitButton {
  @include button.submit;
  background: $green-gradient;
}
