@use "../../assets/sass/input";
@use "../../assets/sass/button";
@import "../../assets/sass/variables.scss";

.inputWrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.inputActive {
  padding-top: 15px;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.categoryButtons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconButton {
  @include button.icon;
  font-size: 24px;
  color: $gray600;
}

.addButton {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 18px;
}

.submitButton {
  font-size: 20px;
  color: $green500;
}
