@use "assets/sass/input";
@use "assets/sass/button";
@import "assets/sass/variables.scss";

.wrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.addButton {
  @include button.icon;
  font-size: 24px;
  color: $gray600;
  position: absolute;
  top: 10px;
  right: 40px;
  svg {
    transform: scale(0.8);
  }
}
