.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.title {
  font-size: 28px;
}

.link {
  padding: 5px;
  font-size: 13px;
  color: var(--green500);
  border-radius: 6px;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.link:hover {
  text-decoration: underline;
}

.reset-button {
  margin-bottom: 10px;
  font-size: 13px;
  padding: 5px;
  color: var(--green500);
  border: none;
  border-radius: 6px;
  background: transparent;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.reset-button:hover {
  text-decoration: underline;
}

.google-button {
  margin: 15px 0;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 10px;
  }

  .link {
    margin-bottom: 10px;
  }
}