@use "assets/sass/shared";
@import "assets/sass/variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;
  }
}

.title {
  font-size: 28px;
  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
}

.link {
  padding: 5px;
  font-size: 13px;
  color: $green500;
  border-radius: 6px;
  text-decoration: none;
  transition: box-shadow 0.2s;
  &:hover {
    text-decoration: underline;
  }
  &:focus-visible {
    @include shared.focus-green;
  }
  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
}

.form {
  margin-bottom: 15px;
  & > div:last-of-type {
    margin-bottom: 30px;
  }
}
