@import "assets/sass/variables.scss";

.wrapper {
  text-align: center;
  svg {
    font-size: 70px;
    color: $green600;
  }
  p {
    margin-bottom: 10px;
    &:first-of-type {
      font-size: 22px;
    }
  }
}
