@use "../../../../assets/sass/skeleton";
@import "../../../../assets/sass/variables.scss";

.skeleton {
  @include skeleton.skeleton($gray200);
}

.wrapper {
  flex: 1;
  padding: 0 15px;
}

.transferItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.transferWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.amount {
  width: 70px;
  height: 14px;
  border-radius: 8px;
}

.accounts {
  width: 150px;
  height: 14px;
  border-radius: 8px;
}

.date {
  width: 110px;
  height: 13px;
  border-radius: 8px;
}

.button {
  width: 57px;
  height: 28px;
  border-radius: 8px;
  margin-left: auto;
}
