@import "assets/sass/variables.scss";

.container {
  position: relative;
  width: 100%;
  min-height: 1.5em;
  height: 100%;
  max-height: 55px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  padding-top: 0.55em;
  font-size: 15px;
  background-color: $blue50;
  border-radius: 12px;
  outline: none;
  transition: box-shadow 0.2s;
  user-select: none;
  cursor: pointer;
}

.active {
  padding-top: 15px;
}

.container:focus {
  box-shadow: 0 0 0 1px $green600;
}

.value {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  color: $blackAlpha900;
}

.divider {
  align-self: stretch;
  width: 0.05em;
  background-color: $gray600;
}

.caret {
  border: 0.4em solid transparent;
  border-top-color: $gray600;
  translate: 0 25%;
  cursor: pointer;
}

.options {
  position: absolute;
  left: 0;
  top: calc(100% + 0.4em);
  z-index: 100;
  overflow-y: auto;
  width: 100%;
  max-height: 15em;
  margin: 0;
  padding: 10px;
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 4px 32px rgb(0 0 0 / 16%);
  list-style: none;
}

.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  font-size: 14px;
  color: $gray600;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.option.selected {
  font-weight: 700;
}

.option.highlighted {
  background-color: $blue50;
}

.placeholder {
  color: $gray600;
}

.icon {
  color: $green500;
}
