@import "../../assets/sass/variables.scss";

.wrapper {
  flex: 1;
  @media (max-width: $tablet) {
    overflow: auto;
  }
}

.event {
  text-align: right;
}

.income {
  color: $green500;
}

.expense {
  color: $orange500;
}
