@use "assets/sass/input";
@use "assets/sass/button";
@import "assets/sass/variables.scss";

.wrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.input {
  @include input.input;
}

.active {
  padding-top: 15px;
}

.label {
  @include input.label;
}

.buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  & button {
    @include button.icon;
    font-size: 24px;
    color: $gray600;
  }
  @media (max-width: $mobile) {
    gap: 0px;
  }
}

.submitIcon {
  transform: scale(0.7);
  color: $green500;
}
