@use "../../../assets/sass/input";
@use "../../../assets/sass/button";
@import "../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  @media (max-width: $mobile) {
    width: 320px;
  }
}

.title {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 26px;
  &::first-letter {
    text-transform: capitalize;
  }
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.button {
  @include button.submit;
  width: 200px;
  margin: 0 20px;
  background: $green-gradient;
  @media (max-width: $mobile) {
    margin: 0 15px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.inputWrapper {
  position: relative;
  height: 55px;
  width: 100%;
  margin-right: 10px;
}

.inputActive {
  padding-top: 15px;
}

.input {
  @include input.input;
  @media (max-width: $mobile) {
    padding-right: 35px;
  }
}

.label {
  @include input.label;
}

.inputLength {
  @include input.length;
}

.iconButton {
  @include button.icon;
  font-size: 24px;
  &:active:not(:disabled) {
    transform: scale(0.9);
  }
}

.editButton {
  margin-left: auto;
  color: $gray400;
}

.submitIcon {
  transform: scale(0.8);
  color: $green500;
}

.deleteIcon {
  transform: scale(0.8);
  color: red;
}

.categoryList {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 10px;
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.categoryItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  transition: background-color 0.2s;
  &:hover {
    background-color: $blue50;
  }
}
