@use "assets/sass/input";
@import "assets/sass/variables.scss";

.wrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.input {
  @include input.input;
  padding-top: 25px;
  color: $blackAlpha900;
  cursor: pointer;
}

.label {
  @include input.label;
}
