@import "assets/sass/variables.scss";

.container {
  position: absolute;
  top: 70px;
  left: 25px;
  min-width: 300px;
  max-width: 400px;
  background-color: $white;
  border-radius: 12px;
  box-shadow: $box-shadow;
  z-index: 10;
  @media (max-width: $mobile) {
    left: 15px;
  }
}

.divider {
  display: block;
  border-bottom: 1px solid $gray200;
}
