.wrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.input {
  padding-top: 15px;
}

.button-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 28px;
  color: var(--gray400);
  border-radius: 6px;
  transition: box-shadow 0.2s;
}