@use "assets/sass/input";
@import "assets/sass/variables.scss";

.inputWrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.active {
  padding-top: 15px;
}

.showButton {
  position: absolute;
  top: 15%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 28px;
  color: $gray400;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}
