@use "assets/sass/input";
@import "assets/sass/variables.scss";

.inputWrapper {
  position: relative;
  height: 55px;
  margin-bottom: 15px;
}

.active {
  padding-top: 15px;
}

.buttonWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 28px;
  color: $gray400;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}
