.main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-section {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue100);
}

.auth-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--white);
}

.wrapper {
  width: 530px;
  padding: 30px;
  background-color: var(--white);
  border-radius: 12px;
}

.logo {
  display: none;
}

.lead {
  margin-top: 20px;
  margin-bottom: 85px;
  text-align: center;
  line-height: 1.4;
}

.hero-image {
  z-index: 1;
}

.blur {
  position: absolute;
  top: 35%;
  right: 20%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: var(--green-gradient);
  filter: blur(50px);
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hero-image {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .hero-section {
    display: none;
  }

  .logo {
    display: block;
  }

  .auth-section {
    background-color: var(--blue100);
  }

  .wrapper {
    position: unset;
    width: 465px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 360px;
  }
}