.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 18px;
  color: var(--gray700);
  background-color: var(--blue100);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.wrapper button {
  padding: 5px;
  font-size: 14px;
  color: var(--orange500);
  border-radius: 6px;
}
