@use "../../../../assets/sass/button";
@import "../../../../assets/sass/variables.scss";

.button {
  @include button.icon;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: $black800;
  width: 35px;
  height: 35px;
  color: $white;
  font-size: 20px;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
