@import "../../assets/sass/variables.scss";

.wrapper {
  position: absolute;
  top: -80px;
  right: 20px;
  z-index: 10;
  @media (max-width: $laptop) {
    top: 40px;
  }
}

.openButton {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  svg {
    transition: transform 0.2s;
  }
}

.rotate {
  transform: rotate(180deg);
}

.languages {
  position: absolute;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  background-color: $white;
  border-radius: 12px;
  box-shadow: $box-shadow;
  @media (max-width: $laptop) {
    left: unset;
    right: 0;
  }
}

.languageButton {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.2s;
  &:hover {
    background-color: $blue50;
  }
  svg {
    transform: scale(1.9);
    color: $green600;
  }
}
