@import "../../../../assets/sass/variables.scss";

.container {
  position: relative;
  width: 420px;
  height: 280px;
  padding: 20px;
  padding-bottom: 30px;
  @media (max-width: $mobile) {
    width: 320px;
    padding: 20px 15px 30px 15px;
  }
}

.title {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.prompt {
  margin-bottom: 20px;
  text-align: center;
}
