@import "../../../../assets/sass/variables.scss";

.accountItem {
  padding: 5px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $gray200;
  }
  & div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 12px;
    transition: background-color 0.2s;
    &:hover {
      background-color: $blue50;
    }
  }
}

.icon {
  font-size: 18px;
  color: $gray700;
}
