.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wrapper p {
  text-align: center;
}

.wrapper p:first-of-type {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 700;
}

.wrapper p:last-of-type {
  font-size: 16px;
  color: var(--gray700);
}
