@use "../../assets/sass/input";

.inputWrapper {
  position: relative;
  height: 55px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.active {
  padding-top: 15px;
}

.input {
  @include input.input;
}

.label {
  @include input.label;
}

.currency {
  @include input.currency;
}
