.wrapper {
  position: relative;
  height: 55px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.wrapper>div {
  flex: 1;
}

.wrapper div>p {
  padding-top: 0;
}

.input {
  padding-top: 15px;
  flex: 3;
}